<nav class="menu-primary">
  <h4>Features</h4>
  <h5 [routerLink]="['/features']">Overview</h5>
  <h5 [routerLink]="['/features/modal-gallery']">ModalGallery</h5>
  <h5 [routerLink]="['/features/plain-gallery']">PlainGallery</h5>
  <h5 [routerLink]="['/features/carousel']">Carousel</h5>
  <h5 [routerLink]="['/features/previews']">Previews</h5>
  <h5 [routerLink]="['/features/upper-buttons']">UpperButtons</h5>
  <h5 [routerLink]="['/features/global-config']">Global configuration</h5>
  <h5 [routerLink]="['/features/default-values']">Default values</h5>
</nav>
